body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: #00008b;
}

#root{
  width: 60vw;
  margin: 10px auto;
  border: 1px solid;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

header{
  grid-column: 1 / 7;
}

#currentWeather{
  text-align: center;
}

a{
  text-decoration: none;
}

#titleHeading{
  text-align: center;
  font-size: 2.5em;
  font-weight: bolder;
  margin: 10px;
}

.pageHeading{
  text-align: center;
  font-size: 1.5em;
  color: #00008b;
}

.divHeading{
  font-size: 1.2em;
  color: #00008b;
  padding-left: 20px;
  grid-column: 2 / 10;
  grid-row: 1;
}

nav{
  grid-column: 1 / 7;
  background-color: #00008b;
  font-weight: 700;
  font-size: .9em;
  padding-left: 0px;
}

nav > ul{
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: -20px;
}

nav > ul > li{
  display: inline-block;
}

nav > ul > li > a{
  color: white;
  margin-right: 20px;
}

.fa-bars{
  color: white;
  margin: 15px 10px;

}

main{
  grid-column: 1 / 7;
  min-height: 73vh;
}

.editDiv{
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
}

.editTable{
  /* display: inline-block; */
  height:fit-content;
  border-collapse: collapse;
  grid-column: 2 / span 11;
  grid-row: 2;
}

.editTable > thead{
  border-bottom: 2px solid black;
}

.editTable > thead > tr > th{
  border: 1px solid black;
  /* padding: 3px; */
  font-size: 14px;
}

.editTable > tbody > tr > td{
  padding-left: 5px;
  text-align: center;
  border: 1px solid black;
  font-size: 14px;
}

.editTable > tbody > tr > td.billName{
  text-align: left;
}

.editForm{
  font-size: 14px;
  grid-column: 14 / 20;
  grid-row: 2;
}

/* ////////////////////////////////////////////////////////////////// */

#editBillsTable{

}

/* #editBillsTable > thead{
  border-bottom: 2px solid black;
} */

/* #editBillsTable > thead > tr > th{
  border: 1px solid black;
  font-size: 14px;
} */

/* #editBillsTable > tbody > tr > td{
  padding-left: 5px;
  text-align: center;
  border: 1px solid black;
  height: 20px;
  font-size: 14px;
} */

/* #editBillsTable > tbody > tr > td.billName{
  text-align: left;
} */

#editBillsForm{}

#editBillsForm > input{
  text-align: left;
}

#billDueDate{
  width: 110px;
}

#billAmount{
  width: 40px;
}
/* ///////////////////////////////////////////////////////////////// */

#editPayDaysTable{}

#editPayDaysTable > thead{}

#editPayDaysTable > thead > tr > th{}

#editPayDaysTable > tbody > tr > td{}

#editPayDaysTable > tbody > tr > td.billName{}

#EditPayDaysForm{}

/* /////////////////////////////////////////////////////////////////// */

#editPaymentSourcesTable{}

#editPaymentSourcesForm{}

/* //////////////////////////////////////////////////////////////////////// */

#editIncomeSourcesDiv{
  margin-bottom: 40px;
}
#editIncomeSourceTable{}
#editIncomeSourcesForm{}

/* ///////////////////////////////////////////////////////////////// */

.scheduleDiv{
  margin-bottom: 20px;
}

.scheduleDiv > h3{
  padding-left: 100px;
  margin-bottom: 5px;
}

.scheduleTable{
  margin: auto;
  border-collapse: collapse;
  width: 85%;
}

.scheduleTable > thead{
  border-bottom: 2px solid black;
}

.scheduleTable > thead > tr > th{
  border: 1px solid black;
  /* padding: 3px; */
  font-size: 14px;
}

.scheduleTable > tbody > tr > td{
  /* padding-left: 5px; */
  text-align: center;
  border: 1px solid black;
  height: 20px;
  font-size: 14px;
}

.scheduleTable > tbody > tr > td.billName{
  text-align: left;
}
/* ///////////////////////////////////////////////////////////// */
#billName{
  text-align: Left;
}

#billPaidFrom{
  text-align: Left;
  padding-left: 20px;
}

#billAmount{
  text-align: right;
  padding-right: 20px;
}

.totalsDiv{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.totalsTable{
  grid-column: 8 / 10;
  width: 150px;
  /* margin: 20px auto; */
  border-spacing: 0px;
}

.totalsTable > tbody > tr > td{
  /* padding-left: 5px; */
  min-width: 80px;
  /* height: 20px; */
  font-size: 14px;
}

.totalDollars{
  text-align: right;
  font-weight: bold;
}

#loginDiv{
  height: 150px;
  width: 350px;
  background-color: #7261ed;
  margin: 100px auto;
  padding-top: 40px;
  border-radius: 10px;
}

#login{
  text-align: right;
  padding-right: 50px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: auto;
}

#login > input[type=submit]{
  margin-right: 100px;
}

#contactDiv{
  margin: 40px auto;
  padding: 40px;
  height: 340px;
  width: 45%;
  border: 1px solid;
  background-color: #7261ed;
  border-radius: 10px;
}

#contactForm{
  /* width: 323px; */
  width: 95%;
  text-align: left;
  /* padding-right: 50px; */
  font-size: 14px;
  font-weight: bold;
  margin: auto;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

textarea{
  resize: none;
  margin-top: 5px;
  height: 12em;
  width: 100%;
}

#areaLable{
  height: 50px;
}


#contactForm > input[type=submit]{
  margin-left: 170px;
}

#aboutDiv{
  padding: 40px 100px;
}

footer{
grid-column: 1 / span 6;
background-color: blue;
height: 80px;
width: 100%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
text-align: center;
color: white;
padding-top: 2%;
font-size: 12px;
margin-top: 40px;
}

/*/////// Media Querries /////////////////////*/

@media(max-width: 1128px){

  #root{
    width: 90vw;
  }

  input[type=text]{
    max-width: 155px;
  }

  textArea{
    max-height: 150px;
  }

  #contactForm > input[type=submit]{
    margin-left: 95px;
  }
}

@media(min-width: 380px){

  nav > .fa-bars {
    display: none;
  }
}

@media(max-width: 667px){

  #root{
    width: 90vw;
  }

  input[type=text]{
    max-width: 155px;
  }

  textArea{
    max-height: 150px;
  }

  #contactForm > input[type=submit]{
    margin-left: 95px;
  }
}



@media(max-width: 375px){

  #root{
    width: 90vw;
  }

  .hidden--mobile {
    display: none;
  }

  .pipes{
    display: none;
  }

  #currentWeather{
    font-size: 12px;
  }

  nav > ul{
    background-color: #00008b;
    font-size: 20px;
    margin-top: -20px;
    margin-left: 0px;
    text-align: center;
  }

  nav > ul > li{
    display: block;
    padding-right: 20px;
    margin-bottom: 2px;
  }

  #titleHeading{
    font-size: 2.5em;
  }

  #loginDiv{
    max-width: 90%;
  }

  #aboutDiv{
    padding: 10px 30px;
  }

  #contactForm{
    width: 10px;
    margin: none;
  }

  input[type=text]{
    max-width: 60%;
  }

  input[type=password]{
    max-width: 60%;
  }

  input[type=submit]{
    margin: 0 120px;
  }

  #contactDiv{
    width: 60%;
  }

  #contactForm{
    width: 100%;
    font-size: 12px;
  }

  #contactForm > input[type=submit]{
    margin: 10px 75px;
  }

  textarea{
    height: 9.5em;
    width: 17em;
  }

  .scheduleTable {
    border: 2px solid black;
  }

  .editTable{
    grid-column: 2 / 20;
    grid-row: 2;
  }

  .editForm{
    margin-top: 20px;
    grid-column: 2 / 20;
    grid-row: 3;
  }

  .scheduleTable{
    width: 90%;
  }

  .scheduleTable > thead{
    border: 1px solid black;
    border-bottom: 2px solid black;
  }

  .scheduleTable > thead > tr > th{
    padding: 3px;
    font-size: 10px;
    border: 1px solid black;
  }

  .scheduleTable > tbody > tr > td{
    font-size: 10px;
  }

  /* .totalsDiv{
    display: block;
  } */

  .totalsDiv{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: 40px;
  }

  .totalsTable{
    grid-column: 8 / 10;
    width: 150px;
    /* margin: 20px auto; */
    border-spacing: 0px;
  }

}
